body {
    background-image: url("https://specials-images.forbesimg.com/dam/imageserve/765877054/960x0.jpg?fit=scale");
    background-size: cover;
    background-position: center;
}

.box{
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;
    width:50%;
    background-color:#b773e3;
    color:white;
    padding: 4px;
    border-radius:4px 4px 4px 4px;
}
.box h2 {
  margin: -4px;
  background-color:purple;
  text-align:center;
  padding:4px;
  border-radius: 4px 4px 0 0;
}
.back{
    margin-left: 10px;
    margin-right: 10px;
    width:10%;
    background-color:#b773e3;
    text-align:center;
    font-size:16px;
    height:10%;
    color:white;
    padding:4px;
}
.game{
    margin-left: 600px;
    margin-top: 25x;
}
.instructions{
    background-color:#ffffff;
}
